/*

border-shadow

offset-x -> Desplazamiento en x (obligatorio)
offset-y -> Desplazamiento en y (obligatiorio)
blur-radius -> Desenfoque de la sombra
spread-radius -> Expansión de la sombra
color -> Color de la sombra , si no lo especificamos lo heredará del elemnto 
al que pertenece
inset -> Determina si la sombra será interior o exterior

*/

*{
    box-sizing: border-box;
}

.box{
    background-color: darkcyan;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 50px;
    color: red;
    /*box-shadow: 5px -5px 10px red; */
    box-shadow: inset -5px -5px 10px 0 #333;

}