/*
    Border-radius: Es la propiedad que nos permite redondear vértices
    de forma independiente.
    Es un shorthand que engloba 4 propiedades:
        border-top-left-radius -> Radio de borde superior izquierda.
        border-top-right-radius -> Radio de borde superior derecho.
        border-bottom-right-radius -> Radio del borde inferior derecho.
        border-bottom-left-radius -> Radios del borde inferior izquierdo.
    
    Si solo recibe un valor dibujará un círculo en cada vértice del
    radio que especifiquemos.

    border-radius: 50px; -> Círculo con 50px de radio.

    Si utilizamos el border-radius como shorthand hay diferencias
    entre si queremos dar un valor a cada lado (círculo) o dos (eclipse)

    Con solo valor:
        border-radius: 50px; -> Círculo de 50px a cada vértice.
        border-radius: 50px 100px; -> Círculo de 50px en el vértice
        superior izquierdo y el inferior derecho de 100px en el superior
        izquierdo inferior derecho.
        border-radius: 50px 100px 200px; -> Círculo de 50px en el vértice
        superior izquierdo, de 100px en el superior derecho y el inferior izquierdo
        y de 200px en el inferior derecho.
        border-radius: 50px 100px 200px 300px -> Como las agujas del reloj.

    Si le damos 2 valores separados por una barra dibujara un eclipse
    en cada vértice con los radios que le especifiquemos.
    border-radius: 50px / 100px -> Eclipse con 50px en el radio X y 100 
    en el radio Y.
    Con dos valores:
        Al tener dos radios debemos agrupar los radios y separarlos por una 
        barra.

        border-radius: 25px / 50px ; -> Eclipse de 25px en Y y 50px en X en
        cada vértice.

        border-radius: 25px 50px / 50px 100px; -> Eclipse de 25px en Y y 50px
        en X a los vértices superior izquierdo e inferior derecho y  una eclipse de
        50 px en Y y 100 px en X en los vértices superior derecho e inferior izquierdo.

        border-radius: 25px 50px 75px / 50px 100px 150px; -> Eclipse de 25px en Y
        y 50 en X al vértice superior izquierdo, una eclipse de 50px en Y y 100px en X
        en los vértices superior derecho e inferior izquierdo y una eclipse de 75px en Y 
        y de 150px en X al vértice inferior derecho.

        border-radius: 25px 50px 75px 100px / 50px 100px 150px 200px; -> En sentido de las
        agujas de un reloj,
*/

*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    margin: 0;
}

.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: lightcyan;
    width: 300px;
    height: 300px;
    /*border-radius: 50px; 
    border-top-right-radius: 50px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 200px
    */

    border-radius: 50px 100px 150px 200px/ 100px 150px 200px 250px ;
}