/* 
    Margin:
    Es la propiedad que nos permite generar espacio entre elementos.
    Es un shorthand(propiedad abreviada) que controla los 4 lados posibles
    a los que dar m치rgenes.
    margin-top: margen superior
    margin-right: margen derecho
    margin-bottom: margen inferior
    margin-left: margen izquierdo

    Admite hasta 4 valores que van en el orden de las agujas del reloj.
    4 valores-> margin:top right bottom left;
    3 valores-> margin:top right/left bottom;
    2 valores-> margin:top/bottom right/left;
    1 valor -> margin: top/right/bottom/left;

    Padding:
    Es la propieddad que nos permite generar espacio interno entre el
    borde y la caja.
    Es un shorthand(propiedad abreviada) que controla los 4 ladso posibles 
    a los que dar padding.
    padding-top: padding superior
    padding-right: padding derecho
    padding-bottom: padding inferior
    padding-left: padding izquierdo

    Admite hasta 4 valores que van en el orden de las agujas del reloj.
    4 valores-> padding:top right bottom left;
    3 valores-> padding:top right/left bottom;
    2 valores-> padding:top/bottom right/left;
    1 valor -> padding: top/right/bottom/left;

    Border:
    Es la propiedad que nos permite modificar el borde de la caja.
    Es un shorthand que agrupa 3 propiedades
    border-width: ancho del borde
        border-top-width
        border-right-width
        border-botton-width
        border-left-width
    border-style: estilo del borde
        border-top-style
        border-right-style
        border-botton-style
        border-left-style
        // Listado de valores para style:
            none
            hidden
            dotted
            dashed
            solid
            double
            groove
            ridge
            inset
            outset
    border-color: color del borde.
        border-top-color
        border-right-color
        border-botton-color
        border-left-color
    
    Box-sizing:
    Es la propiedad que nos permite controlar el c치lculo que hace
    el navegador a la hora de modificar las propiedades content,
    padding y border.
    Los 2 valores que podemos darle son 
        content-box -> valor por defecto
        border-box -> C치lculo de tama침o del elemento incluyendo el
        padding y el border.
*/

*{
    box-sizing: border-box;
}

body{
    background-color: #333;
}

.block{
    width: 200px;
    height: 100px;
    background-color: lightcoral;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    border: 10px outset purple;
    
}

.inline{
    background-color: lightgreen;
}

header{
    background-color: aquamarine;
}

.buttons{
    background-color: steelblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button{
    margin-left: 40%;
    padding: 50px;
   /* border: 20px solid red ; */
   
   border-width: 10px;
   border-style: ridge;
   border-color: aqua;
   /*border-right-color: black; */ 
   color: inherit;
}


