/* 
    Text-align es la propiedad que nos permite alinear horizontalmente
    el contenido 
    NO TENGA ANCHO DECLARADO ¡¡¡¡

    Acepta 4 posibles valores
        text-align:left -> Alinea el contenido a la izquierda
        text-align:right -> Alinea el contenido a la derecha
        tetx-align:center -> Alinea el contenido al centro
*/


*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff
}

.text{
    text-align: center;
}

.box{
    background-color: #666;
    width: 100px;
    padding: 10 px 0 ;
    margin: 20px 0 ;
    border: 2px solid lightcoral;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.link{
    color: inherit;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    background-color: #666;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
